

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.instruction {
	font-size: 30px;
}

input[type="file"]::file-selector-button {
	border: 0px solid #ccc;
	padding: 10px 15px;
	background-color: white;
	font-size: 30px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
	background-color: rgb(156, 156, 156);
}

.button {
	border: 1px solid #ccc;
	padding: 5px 10px;
	background-color: rgb(225, 225, 225);
	font-size: 30px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 30px;
	cursor: pointer;
}

.submit-button:hover {
	background-color: rgb(156, 156, 156);
}

.logo {
	max-width: 300px;
}